<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Configuration -->
  <arg name="sim_stack"                   default="sim_subt_inspection_mission"     doc="Simulation stack. Options: sim_subt_mission, sim_subt_navigation, sim_subt_mission_control."/>
  <arg name="setup_subt"                  default="sim_subt_inspection"             doc="SubT Configuration setup. Options: real, sim_subt, sim_subt_lite, sim_subt_ignition_gazebo."/>
  <arg name="environment_config"          default="niosh_mine_left"/>
  <arg name="inspection_payload"          default="enabled"                         doc="Inspection payload. Options: enabled, disabled"/>
  
  <!-- Simulation -->
  <include file="$(find anymal_c_subt)/launch/sim.launch" pass_all_args="true"/>

</launch>
