<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Configuration -->
  <arg name="mission_control_stack"       default="mission_control"   doc="Mission control stack. Options: mission_control, mission_control_sim."/>
  <!-- Configuration files -->
  <arg name="subt_extension_config_file"  default="$(find anymal_c_subt)/config/extension/none.yaml"/>
  <!-- Feature toggles -->
  <arg name="mission_control_network"     value="sim" if="$(eval mission_control_stack == 'mission_control_sim')"/>

  <!-- Load the configuration -->
  <include file="$(find anymal_c_subt)/launch/load_config.launch"  pass_all_args="true"/>

  <!-- Mission Control stack -->
  <include file="$(find stack_launcher)/launch/stack_launcher.launch">
    <arg name="stack"         value="$(arg mission_control_stack)"/>
    <arg name="trigger_param" value="/config_loaded"/>
  </include>

</launch>
