<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="output_file"             default="/home/jolee/bagfiles/recorded"/>

  <!-- <arg name="camera_update_rate"   default="6" />
  <arg name="image_front_topic"    default="/wide_angle_camera_front/image_color_small/image_raw" />
  <arg name="image_rear_topic"    default="/wide_angle_camera_rear/image_color_small/image_raw" />
  <arg name="image_front_info_topic"    default="/wide_angle_camera_front/image_color_small/camera_info" />
  <arg name="image_rear_info_topic"    default="/wide_angle_camera_rear/image_color_small/camera_info" />

  <node name="img_front_throttle" type="throttle" pkg="topic_tools" args="messages $(arg image_front_topic) $(arg camera_update_rate) $(arg image_front_topic)_throttle" />

  <node name="img_rear_throttle" type="throttle" pkg="topic_tools" args="messages $(arg image_rear_topic) $(arg camera_update_rate) $(arg image_rear_topic)_throttle" />

  <node name="img_info_front_throttle" type="throttle" pkg="topic_tools" args="messages $(arg image_front_info_topic) $(arg camera_update_rate)" />

  <node name="img_info_rear_throttle" type="throttle" pkg="topic_tools" args="messages $(arg image_rear_info_topic) $(arg camera_update_rate)" /> -->

  <!-- state_estimator -->
  <node name="record_state_rosbag" pkg="rosbag" type="record" output="screen"
      args="--lz4 --split --duration=5m -o '$(arg output_file)'
        /alphasense_driver_ros/cam3/dropped/debayered/slow
        /alphasense_driver_ros/cam4/dropped/debayered/slow
        /alphasense_driver_ros/cam5/dropped/debayered/slow
        /alphasense_driver_ros/cam3/dropped/debayered/compressed
        /alphasense_driver_ros/cam4/dropped/debayered/compressed
        /alphasense_driver_ros/cam5/dropped/debayered/compressed
        /alphasense_driver_ros/imu
        /state_estimator/anymal_state
        /state_estimator/odometry
        /state_estimator/pose_in_odom
        /elevation_mapping/elevation_map_recordable
        /elevation_mapping/statistics
        /local_guidance_path_follower/twist
        /twist_mux/twist
        /tf
	/tf_static
        /bpearl_rear/point_cloud
	/bpearl_front/point_cloud
       ">
  </node>
</launch>
