<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Main settings with rosbag name and rosparam dumped file -->
  <arg name="bagfile"                               default=""  doc="Absolute path of rosgas to play. Multiple rosbags can be inserted with space separation, they are played in sequence."/>
  <arg name="dumped_rosparameters"                  default=""  doc="Absolute path of dumped rosparameters."/>
  <arg name="path_map_darpa_tf_file"                default=""  doc="Absolute path of dumped map-darpa TF transformation as txt file."/>
  <arg name="map_file"                              default=""  doc="Absolute path of file GroundMap.msgpack"/>
  <!-- rviz configuration path, used only if  run_visualization is true -->
  <arg name="run_visualization"                     default="true"/>
  <arg name="rviz_config_path"                      default="$(dirname)/../config/ui/replay/config.rviz"/>
  <!-- Other settings -->
  <arg name="publish_rate_multiplier"               default="1.0"/>
  <arg name="seconds_into_the_bag"                  default="0.0"/>
  <arg name="inspection_payload"                    default="disabled"/>
  <arg name="output_file"                           default="/home/anqiao/Documents"/>    

  <!-- Common replay stack -->
  <include file="$(dirname)/replay_common.launch"  pass_all_args="true"/>
  <!-- <include file="$(dirname)/record.launch"  pass_all_args="true"/> -->
  
  <!-- Launch the grid map simple demo node -->
  <node pkg="anymal_c_subt_semantic_front_end_filter" type="simple_demo" name="grid_map_simple_demo" output="screen" >
    <param name="map_file_path" value="$(arg map_file)" />
  </node>
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find grid_map_demos)/config/simple_demo.yaml" />
  </node>


</launch>
