build
__pycache__
# python files
*.pyc
*.egg-info

# CPP files
*.o
*.so

# Note bookfiles
*.ipynb

# kpconv
results

*.pth
*.pt
lsf.*
visulization
checkpoints
wandb
.vscode/launch.json
.vscode/settings.json
Labelling/extract_trajectories/
tmp
