build
__pycache__
# python files
*.pyc
*.egg-info

# CPP files
*.o
*.so

# Note bookfiles
*.ipynb

# kpconv
results

*.pth
*.pt
lsf.*
visulization
checkpoints
wandb
.vscode/launch.json
.vscode/settings.json
Labelling/extract_trajectories/
tmp

# robot models
semantic_front_end_filter/models/rsc/*
.vscode/c_cpp_properties.json
add_license.py
semantic_front_end_filter/utils/labelling/examples/FeetTrajs.msgpack
semantic_front_end_filter/utils/labelling/examples/GroundMap.msgpack
